$font-stack: 'Roboto','Noto',sans-serif
    
.main-content
    height: 850px
    width: 1550px
    margin-left: 320px
    color: white
    justify-content: center

.video-content
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    width: 1550px