$font-stack: 'Roboto','Noto',sans-serif
$color-principal: #202020
    
.sidebar
    width: 240px
    height: 1189px
    background-color: $color-principal
    margin-top: -60px
    position: absolute

.seccion-1
    margin-top: 15px

.seccion-2
    margin-top: 10px
    border-top: 1px solid #373737
    border-bottom: 1px solid #373737

.seccion-sidebar
    width: 220px
    height: 40px
    display: flex
    color: white
    align-items: center
    font-family: $font-stack
    grid-template-columns: 1fr 1fr
    grid-column-gap: 18px
    margin-right: 20px